streamlit
fastapi
uvicorn[standard]
pyvis
networkx
pandas
requests
beautifulsoup4
lxml
trafilatura
gspread
google-auth
scikit-learn
sentence-transformers
selenium
webdriver-manager==4.0.1
# Optionnel : cascade timeout (sites protégés type BMW)
requests-html
tiktoken
plotly
googlesearch-python
Pygments
